<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csc207project.gamecentre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".MainMenu.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu.LoginFragment.LoginActivity" />
        <activity android:name=".SlidingTiles.SlidingTilesGameActivity" />
        <activity android:name=".SlidingTiles.ChooseComplexity" />
        <activity android:name=".SlidingTiles.SlidingTilesScoreBoardActivity" />
        <activity android:name=".MemoryMatching.MemoryMatchingGameActivity" />
        <activity android:name=".MemoryMatching.ChooseComplexActivity" />
        <activity android:name=".MemoryMatching.MemoryMatchingScoreBoardActivity" />
        <activity android:name=".TwentyFourGame.game24Activity" />
        <activity android:name=".TwentyFourGame.TwentyFourGameScoreBoardActivity" />
    </application>

</manifest>
